@{
    ViewBag.Title = "Home Page";
}

<h2>RECETAS</h2>
<div class="row">
    <div class="col-md-12">
        <section class="bienvenido">
            <h3>El sistema responde a qué comer.</h3>
            <p><a href="@Url.Action("Login", "Account")" class="btn btn-lg bt-gris">Iniciar Sesión</a></p>
        </section>
</div>
</div>
   
