body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../../Content/images/byn.png');


}

h2{
    display:block;
    text-align:center;
    text-decoration: underline;
    width:100%;
    padding: 15px;
    background-color: #DCDDDE;
    border: 4px solid grey;
}

footer{
    width:100%;
    padding:20px;
    background-color: #333333;
    color:#BDBDBD;
    text-align:center;
    position: absolute;
    bottom: 0;
}

p{
    margin: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section{
    padding: 15px;
    background-color: #DCDDDE;
}

.bienvenido{
    text-align:center;
}

.bt-gris{
    background-color: grey;
    color: #DCDDDE;
    border: none;
}

th{
    border-bottom:  2px solid grey !important;
}

table{
    border-bottom:  2px solid grey !important;
}

h4{
    display:block;
    width:100%;
    text-align:center;
}

.alert-success {
    text-align:center;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
}

.text-danger {
    color: #b94a48;
    background-color: antiquewhite;
}

.ImgPreview {
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(216, 216, 216);
    background-repeat: repeat;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
    border:solid 1px #ccc;
}